{% load static %}
<header class="p-3" style="background-color: #4f99ce;">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="http://127.0.0.1:8000/halaman1/" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="http://127.0.0.1:8000/halaman2/" class="nav-link px-2 text-white">Daftar</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Ajukan Pertanyaan</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <img src="{% static 'image/logo.png' %}" alt="LOGO-UPI" width="43" height="40" class="d-inline-block align-text-top" >  
            &nbsp;
            <h2>SeeSEA !</h2>
          </div>
        </div>
      </header>